<br>
<div class="jumbotron text-center">
  <h1>Fitness Tracker App</h1>
            <p class="lead">Welcome to our Fitness Application, A web application to track strength training increases over time </p>
            <p> We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym. That's why we offer hundreds of free, professionally built workout videos, for every fitness level and goal.</p>
  </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" src="/assets/img/img1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Free Workout Tips</h4>
                        <p class="card-text">Welcome click here to make a new account</p>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/img3.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Create a new Account</h4>
                                <p class="card-text">Welcome click here to make a new account</p>

                            </div>
                        </div>
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/img2.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">Want to know more about Exercise Tracker?</p>

                            </div>
                        </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" src="/assets/img/img4.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Get Fit</h4>
                        <p class="card-text">Work Hard Achieve strength</p>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/img5.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Just  don't stop</h4>
                                <p class="card-text">Sweat is fat Crying</p>

                            </div>
                        </div>
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/img6.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">Want to know more about Exercise Tracker?</p>

                            </div>
                        </div>

            </div>
        </div>
